@import 'variables';
@import 'flex';
@import 'navbar';
@import 'home';
@import 'jedan';

@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

//nemoj unositi ovdje nista bona, samo importujes gore
html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Indie Flower'
}
