#flex-container {
  background-color: black;
  display: flex;
  height: 200px;
  flex-flow: row wrap; //first value goes for flex-direction second one for flex-wrap
  justify-content: space-between;
}

.flex-child {
  width: 100px;
}

.child1 {
  background-color: skyblue;
}

.child2 {
  background-color: #808c99;
}

.child3 {
  background-color: green;
}

.child4 {
  background-color: gold;
}

.child5 {
  background-color: red;
}

.child6 {
  background-color: $levi-color;
}
