#flex-container {
  background-color: steelblue;
  display: flex;
  height: 200px;
  flex-flow: row wrap; //first value goes for flex-direction second one for flex-wrap
}

.flex-child {
  width: 300px;
}

.child1 {
  background-color: skyblue;
}

.child2 {
  background-color: #808c99;
}

.child3 {
  background-color: $levi-color;
}
