#flex-container {
  background-color: steelblue;
  display: flex;
  height: 200px;
}

.flex-child {
  width: 100px;
}

.child1 {
  background-color: skyblue;
}

.child2 {
  background-color: #808c99;
}

.child3 {
  background-color: cadetblue;
}
