#jedan-conteiner
.jedan
html,
body {

  background-color:skyblue;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Arial', cursive;

}
p {
  font-family:"fantasy",cursive;
color:red;

}
